setuid = stunnel4
setgid = stunnel4
pid=/tmp/stunnel.pid
output = /var/log/stunnel4/stunnel.log

debug = 4

[service]
client = yes
accept = 127.0.0.1:19350
connect = ${STUNNEL_CONNECT_URL}
verifyChain = no
